.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.linkedin {
  color: #201E20!important;
}
.github {
  color: #201E20!important;
}
.twitter {
  color: #201E20!important;
}


.bg-info {
  background-color: #E0A96D!important;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #EEA47F;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background {
  background-color: black;
}

.colorfade:hover {
  background: -webkit-linear-gradient(45deg, #DDC3A5, black );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.AboutMeHeader {
  text-indent: 40%;
  font-size: 5rem;
  font-family: Papyrus;
}

.aboutmeparagraph {
  font-weight: bold;
  font-size: 1.3rem;
}


.PortfolioHeader {
  font-family: Papryus;
  text-align: center;
  padding-top: 1rem;
}

.resumeimage {
  margin-left: 45%;
}

.ResumeHeader {
  margin-left: 45%;
  padding-top: 1rem;
  font-family: Papyrus;
  font-size: 5rem;
}

.ContactMeHeader {
  margin-left: 65%;
  padding-top: 1rem;
  font-size: 3rem;
}

.headername {
  font-family: Papyrus;
  padding: 8%;
}


.piggies-pies {
  height: 300px;
  width: 450px;
}

.LWMT {
  height: 300px;
  width: 450px;
  box-shadow:#E0A96D ;
}

.deadpool {
  height: 300px;
  width: 450px;
}