.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.welcome {
  text-align: center;
}
.background {
  background-color: black;
}

/* .rainbow:hover {
  background: -webkit-linear-gradient(45deg, #EE82EE, #0000FF, #00FF00, #FFFF00, #FF0000, #EE82EE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */